/*
Copyright 2010 UNIPAMPA - Universidade Federal do Pampa

Este arquivo é parte do programa SGCE - Sistema de Gestão de Certificados Eletrônicos

O SGCE é um software livre; você pode redistribuí-lo e/ou modificá-lo dentro dos
termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre
(FSF); na versão 2 da Licença.

Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA;
sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR.
Veja a Licença Pública Geral GNU/GPL em português para maiores detalhes.

Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENCA.txt",
junto com este programa, se não, acesse o Portal do Software Público Brasileiro no
endereço www.softwarepublico.gov.br ou escreva para a Fundação do Software Livre(FSF)
Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
*/

@page { size: A4 landscape; }
.pagina {margin: 0 auto;
        padding-top: 16mm;
        height:91%;
}
.titulo {   
   font-weight: bold;
   font-size: 30px;
   padding-top: 15%;
   text-align:center; 
}

.corpo {
    padding-top:-10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size:16pt;
    height: auto;
    width: auto;
    max-height:80%;
    min-height:80%;
}

.linha_validacao {
    margin-top:1%;
    margin-left:5%;
    margin-right:1%;
    font-size:12px;
    position: absolute;
    left: 1%;
    top:91%;
    
}

.pagina_verso {margin: 0 auto;
               padding-top: 16mm;
               height:91%;               
               page-break-before:always;
}
.titulo_verso {   
   text-align:center;   
   font-weight: bold;
   position: relative;
   top: 0%;
   margin-left:5%;
   margin-right:5%;
   font-size: 20pt;
}

.corpo_verso {
    top:5%;
    margin-left:5%;
    margin-right:5%;
    max-height:90%;
    min-height:50%;
    font-size:11.5pt;
}
